# SmartHome Project Requirements
# python -m venv venv --system-site-packages

# Required Additional Packages
bluedot==2.0.0
pygame==2.5.0
picamera2==0.3.12
adafruit-circuitpython-dht==4.1.0
gpiozero==1.6.2
drivers==1.0.0
board==1.0
